<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} -- %msg%n</pattern>
		</layout>
	</appender>
	<!-- SiftingAppender实现每个线程一个独立的日志文件 -->
	<appender name="INFOSIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>logVin</key>
			<defaultValue>default</defaultValue>
		</discriminator>
		<sift>
			<appender name="fileInfoLog-${logVin}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<filter class="ch.qos.logback.classic.filter.LevelFilter">
					<!--要拦截的日志级别 -->
					<level>ERROR</level>
					<!--如果匹配，则禁止 -->
					<onMatch>DENY</onMatch>
					<!--如果不匹配，则允许记录 -->
					<onMismatch>ACCEPT</onMismatch>
				</filter>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<!--路径 -->
					<fileNamePattern>c:/logs/ms/%d{yyyy/MM/dd/HH}/info-${logVin}_%i.log</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <!--日志文件保留天数-->
                    <maxHistory>3</maxHistory>
				</rollingPolicy>
				<Append>true</Append>
				<layout class="ch.qos.logback.classic.PatternLayout">
					<Pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %logger{35} - %msg%n</Pattern>
				</layout>
			</appender>
		</sift>
	</appender>
	<appender name="ERRORSIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>logVin</key>
			<defaultValue>default</defaultValue>
		</discriminator>
		<sift>
			<appender name="fileErrorLog-${logVin}"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
					<level>ERROR</level>
				</filter>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<!--路径 -->
					<fileNamePattern>c:/logs/ms/%d{yyyy/MM/dd/HH}/error-${logVin}_%i.log</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>100MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <!--日志文件保留天数-->
                    <maxHistory>3</maxHistory>
				</rollingPolicy>
				<Append>true</Append>
				<layout class="ch.qos.logback.classic.PatternLayout">
					<Pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %logger{35} - %msg%n</Pattern>
				</layout>
			</appender>
		</sift>
	</appender>
	<root level="info">
		<appender-ref ref="consoleLog" />
		<appender-ref ref="INFOSIFT" />
		<appender-ref ref="ERRORSIFT" />
	</root>
</configuration>
